<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
  <package id="vcpkg.C.Users.j46868yc.vcpkg.vcpkg" version="1.0.0" targetFramework="native" />
  <package id="vcpkg.D.OneDriveTheUniversityofManchester.codelib.vcpkg" version="1.0.0" targetFramework="native" />
</packages>